// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, .modal-body {
background-color: antiquewhite;
}

th {
    text-align: center;
}
.infobox{
    width: 33.3%;
    height: 30vh;
    float: left;
    background-size: 100% 100%;
    background-origin: content-box;
    background: center/cover no-repeat;
    box-sizing: border-box;
    background-origin: content-box;
    background-clip: content-box;
    padding: 0.5%;
}
.title{
    color: Black;
    text-align: center;
}
.topmenu{
    text-align: center;
    background-color: rgb(241, 214, 178);
    border: none;
}
.modal-header, .modal-footer{
    background-color: rgb(241, 214, 178);
}

.viewgoodimage_url{
    float: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30vh;
}

